.month-header {
  &__cell {
    &:first-child {
      border-top: 0;
      border-left: 0;
      padding-bottom: 24px;
      max-width: 260px;
    }

    &:not(:first-child) {
      min-width: 34px;

      & > * {
        display: block;
      }
    }

    &:last-child {
      font-weight: 400;
    }
  }

  &__day {
    font-weight: 400;
  }

  &__number {
    @extend %font-bold;
  }
}
