.month-header {
  display: grid;

  &__cell {
    border-bottom: 0;

    &:first-child {
      border-top: 0;
      border-left: 0;
    }

    &:not(:first-child) {
      padding: 12px 7px 7px;

      & > * {
        display: block;
      }
    }

    &:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__day {
    font-weight: 400;
  }

  &__number {
    @extend %font-bold;
  }
}
