$black: #000;
$white: #fff;
$apple: #48ba46;
$gray: rgba(126, 126, 126, 0.3);
$gallery: #f0f0f0;

$main-color: $black;
$main-border: $gray;
$button--main: $apple;
$weekend: $gallery;

// FONT
$main-font: "Open Sans", sans-serif;
// + or - size * on number [.5, .75, 1.25, 1.5]
$main-fz: 12px;
$main-line-height: 18px;

// CONTAINER
$main-width: 1350px;
$main-padding: 15px;
// TRANSITION_TIMES
$fast: 0.5s;
