$main-color: #454545;

$white: #fff;
$black: #000;

// FONT
$main-font: 'Open Sans', sans-serif;
// + or - size * on number [.5, .75, 1.25, 1.5]
$main-fz: 12px;
$main-line-height: 18px;

// CONTAINER
$main-width: 1350px;
$main-padding: 15px;
// TRANSITION_TIMES
$fast: 0.5s;
