.team {
  padding: 6px 19px;
  border-left: 4px solid;

  &--common {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .team__name {
      @extend %font-bold;

      text-transform: capitalize;
    }
  }

  &--member {
    .team__name {
      text-transform: uppercase;
    }
  }

  &__other {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 95px;
    width: 100%;
    height: 100%;

    & > *:not(:last-child) {
      margin-right: 13px;
    }
  }
}
