.team-body {
  display: grid;
  border-left-width: 4px;
  border-left-style: solid;

  &__cell {
    &:first-child {
      border-left: 0;
    }

    &:last-child {
      @extend %font-bold;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &--intendent {
    margin-top: 35px;
  }

  & ~ .team-body:not(.team-body--intendent) {
    .team-body__cell {
      border-top: 0;
    }
  }
}
