.team {
  padding: 7px 5px 7px 19px;

  &--common {
    .team__name {
      @extend %font-bold;

      text-transform: capitalize;
    }
  }

  &--member {
    .team__name {
      text-transform: uppercase;
    }
  }

  &__other {
    // TODO стили не соответсвуют макету немножко
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;

    & > * {
      display: inline-block;
    }

    & > *:not(:last-child) {
      margin-right: 8px;
    }
  }
}
